@import '../../node_modules/@mdi/font/css/materialdesignicons.css';
@import '../../node_modules/@fontsource/inter/400.css';

:root {
    --brand: #4A90E2;
    --background: rgb(238,238,238);
    --button: rgb(218,215,215);
}

* {
    font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}

head {
    display: none;
}

body {
    all: unset;
}

.container {
    max-width: 800px;
    margin: auto;
}

#header {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  background-color: var(--brand);
  color: white;

  > h1, p {
    display: inline-block;
  }

  > .menu {
    float:right;
  }
}

.title {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
        all: unset;
        font-size: 2.2rem;
    }
}

.searchbar {
    all: unset;
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: block;    
    height: 3rem;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    background-color: white;

    input {
        all: unset;
        padding-left: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 9;
    }

    button {
        all: unset;
        height: 100%;
        margin: auto;
        font-size: 1.5rem;
        /* text-align: center; */
        background-color: var(--button);
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 2;
    }
}

.results {
  padding-left: 1em;
  padding-right: 1em;
}

.result-card {
    background-color: var(--background); 
    padding: 1em;
    margin-bottom: 1em;

    .result-title {
        all: unset;
        display: inline-block;
        font-size: 1.5rem;
    }

    .result-description {
        all: unset;
        display: block;
        margin-top: 1em;
        white-space: nowrap;
        text-overflow: ellipsis; 
        overflow: hidden;
    }
}
