:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
    --brand: #4A90E2;
    --brand-dark: hsl(212, 72%, 55%);
    --background: rgb(238, 238, 238);
    --button: rgb(218, 215, 215);
    --button-hover: rgb(187, 186, 186);
    --button-click: rgb(110, 110, 110);
    --quality-good: #008551;
    --quality-warning: #F6BE00;
    --quality-bad: #B81B0E;
    --text: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #181a1b;
        --button: #232526;
        --button-hover: #353738;
        --button-click: #444647;
        --text: #fff;
        --brand: #6cb6ff;
        --brand-dark: hsl(212, 72%, 45%);
    }
    body {
        color: var(--text);
    }
}

body {
    background-color: var(--background);
    color: white;
    /* margin: 0;
    padding: 0; */
}

#root {
    max-width: 800px;
    margin: auto;
}

h1, h1>a {
    text-decoration: none;
    color: var(--brand);
}
