.card {
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
}

.name {
    display: inline-block;
}

.card > .measures {
    display: flex;
    justify-content: space-between;
}

.measure {
    width: 32%;
}

.measure > * {
    display: inline-block;
}

.measure > svg {
    margin-right: 1rem;
}