div.header {
    background: linear-gradient(270deg, #BCD6F4, #7092D3);
    border-radius: 1em;
    padding: 1.5rem 1.5rem;
    margin: 0.5em 0 0.5em 0;

    .topRow {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom: 1em;

        .name {
            width: 100%;

            h2.name {
                font-size: 1.4rem;
                margin: 0;
                color: white;
            }

            a {
                text-decoration: none;
                color: var(--text);
            }

            p {
                margin: 0.25rem 0 0 0;
            }
        }

        .status {
            width: 100%;
            text-align: right;
            font-weight: 300;
            text-transform: capitalize;
            font-size: 1.2rem;
        }
    }

    div.amenities {
        background-color: var(--button);
        color: black;
        border-radius: 1em;
        padding: 1em 2em;
        margin: 0.5em 0 0.5em 0;
    }
}

.quality-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    row-gap: .5rem;
}

div.quality {
    background-color: var(--button);
    color: black;
    border-radius: 1em;
    padding: 1rem 1rem;

    h3 {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    ul {
        list-style-type: none;
        margin-block-start: 0;
        padding-inline-start: 0;

        li {
            margin-bottom: 0.25rem;
        }
    }

    .number {
        font-weight: lighter;
        font-size: 1.5rem;
        margin: 0;
    }

    em {
        font-size: 1rem;
    }
}

div.description {
    background-color: var(--button);
    color: black;
    border-radius: 1em;
    padding: 1rem 1rem;
    margin: 0.5em 0 0.5em 0;

    h3 {
        margin-top: 0;
        margin-bottom: .5rem
    }

    h4 {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    p {
        margin: 0;
    }
}

div.breadcrumb {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .share {
        text-align: right;
    }

    a {
        text-decoration: none;
        color: var(--button-click);
    }
}

