h2 {
    color: var(--brand);
}

div.attribution {
    text-align: center;
    color: var(--button-click);
    font-style: italic;
}

.placeholder {
    .description {
        text-decoration: none;
        color: var(--text);
    }

    .addBtn {
        text-decoration: none;

        .btnContent {
            background-color: var(--button);
            color: var(--text);
            padding: 1em;
            border-radius: 2rem;
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: .5rem;
            align-items: center;
            justify-items: start;

            * {
                margin: 0;
               display: inline; 
            }
        }
    }
}