.placeholder {
    padding-top: 4em;
    width: 100%;
    margin: auto;
    text-align: center;
}

.tagline {
    font-size: 1.5rem;
    color: var(--button-click);
}

.description {
    color: var(--button-click);
}