div.warning {
    background-color: var(--quality-warning);
    border-radius: 1em;
    padding: 1em 1em;
    margin: 0.5em 0 0.5em 0;

    h2, p {
        margin: 0;
    }

    h2 {
        color: var(--headline);
        margin-bottom: .25rem;
    }
}

div.ban {
    background-color: var(--quality-bad);
}